.headerContainer{
        background: rgb(2,0,36);
        background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 38%, rgba(0,212,255,1) 100%);
}
.logo div{
        margin: 0.5rem 0 0 0 ;
}
.logo div span {
        font-size:1.4rem;
        font-weight: bold;
        margin: 1px;
}
svg{
        font-size: 20px;
}
.logo div{
        direction:ltr;
}
.logo span{
        color: #00e8ff;
        display: inline-block;
       

}
.logo span:nth-of-type(1) {
	transform: translate(0px, 0px);
	animation: titleANimation 1s ease-in-out 2.8s alternate;
	animation-iteration-count: 2;
}
.logo span:nth-of-type(2) {
	transform: translate(0px, 0px);
	animation: titleANimation 1s ease-in-out 2.6s alternate;
	animation-iteration-count: 2;
}

.logo span:nth-of-type(3) {
	animation: titleANimation 1s ease-in-out 2.4s alternate;
	animation-iteration-count: 2;
}
.logo span:nth-of-type(4) {
	animation: titleANimation 1s ease-in-out 2s alternate;
	animation-iteration-count: 2;
}
.logo span:nth-of-type(5) {
	animation: titleANimation 1s ease-in-out 1.8s alternate;
	animation-iteration-count: 2;
}
.logo span:nth-of-type(6) {
	animation: titleANimation 1s ease-in-out 1.6s alternate;
	animation-iteration-count: 2;
}
.logo span:nth-of-type(7) {
	animation: titleANimation 1s ease-in-out 1.4s alternate;
	animation-iteration-count: 2;
}
.logo div span:nth-of-type(8) {
	animation: titleANimation 1s ease-in-out 1.2s alternate;
	animation-iteration-count: 2;
}
.logo div span:nth-of-type(9) {
	animation: titleANimation 1s ease-in-out 1s alternate;
	animation-iteration-count: 2;
}
.logo div span:nth-of-type(10) {
	animation: titleANimation 1s ease-in-out 0.8s alternate;
	animation-iteration-count: 2;
}
.logo div span:nth-of-type(11) {
	animation: titleANimation 1s ease-in-out 0.6s alternate;
	animation-iteration-count: 2;
}
.logo div span:nth-of-type(12) {
	animation: titleANimation 1s ease-in-out 0.4s alternate;
	animation-iteration-count: 2;
}


@keyframes titleANimation {
	0% {
		transform: translate(0px, 0px);
	}
        50%{
		transform: rotateY(90deg);
	}
	100% {
		transform: translate(0px, 5px);
	}
}