@font-face {
        font-family: IRANSanss;
        src: url(Fonts/IRANSans/IRANSans.eot);
        src: url(Fonts/IRANSans/IRANSans.ttf);
        src: url(Fonts/IRANSans/IRANSans.woff);
    }
    html {
        scroll-behavior: smooth;
      }
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        direction:rtl;
        font-family:IRANSanss !important;
        font-size: 14px;
}
a{
       color: initial;
}

body{
        scroll-behavior: smooth;
        background-color: aliceblue;
}
